# MONGO_URI=mongodb://localhost:27017/hr_offer_letters
JWT_SECRET_KEY=change-this-to-a-long-random-string-in-production

# MONGO_URI=mongodb+srv://stabhishek17_db_user:HRapp2026@cluster011.fg8d3se.mongodb.net/hr_offer_letters?retryWrites=true&w=majority

MONGO_URI=mongodb+srv://stabhishek17_db_user:Abhi2004@cluster011.fg8d3se.mongodb.net/?appName=Cluster011
JWT_SECRET_KEY=this-is-a-long-secret-key-for-hr-system-2026-secure
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhishekst1713@gmail.com
SMTP_PASS=cqjmpxjclpethdhm
SMTP_FROM=abhishekst1713@gmail.com
COMPANY_NAME=Infopace Management Pvt Ltd